#checkout{
    width: 60%;
     margin-left: 10%;
    background-color: #f7f7f7;
}
#maindiv{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    
}



.card-dropdown{


display: none;
    
    
    
}

.card-dropdown input{
    display: block;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

#heading{
    display: flex;
}

#heading i{
    margin-top: 26px;
    padding-left: 5px;

}

#card-payment{
    display: flex;
}

.card{
    display: flex;
    flex-direction: column;
  
   
}
.card>#button {
    display: inline;

    margin-left: 45px;
}
.card>#button button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.upi-dropdown{
    display: none;
}

.upi{
    display: flex;
}
.upi input
{
    width: 200px;
    height: 30px;
    background-color: #f7f7f7;
    
}

#image-div{
    display: flex;
   
}

#image-div img{
   
    width: 10%;
}

#headingofupi{
    display: flex;
}

#headingofupi img{
    width: 50px;
}




